<% if flash[:notice] %>
  <div class="flash-message notice">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="flash-message alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= content_tag :h1, "Enter your email", class: "page-title" %>

<div class="forgot_password">
  <%= form_with url: "/request_reset", method: :post, local: true, class: "login-form" do |f| %>
    <div class="form-field">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, required: true, placeholder: "Enter email", class: "input-field" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Confirm", class: "submit-btn" %>
    </div>
  <% end %>
</div>